@media screen and (max-device-width: 480px)
{
	p{color: black ;
	}
	bloc-page{width: auto
	}
	nav{width:auto;
	}
	header{width: 5px;
	}
	.menu{margin: 0 auto;
		display:flex;
		flex-wrap: nowrap
		font-size: 10px;
	}
	#bandeannonce{width:auto;
	}
	.feature{width: auto; 
		margin:2px; 
		padding:2px;
	}
	.container{width:auto; align-content:flex-start;
	}
	title{text-align: center;
		font-size:auto;
	}
	.left{float :center;
		text-align: center;
		width : auto;
		overflow: none;
		align-content: center;
	}
	.right{float:center;
		text-align: center;
		width:auto;
		align-content: end;
	}
	nav a{font-family: Roboto;
	}
	nav{height: auto; width: auto;
	}
	iframe{width:auto; height:auto; align-content: start;
	}
}
body{
	margin: 2px;
	padding :5px;
	background: rgb(245,245,245);
	font-family: Roboto;
	size: 13px;
	color : grey;
	float : center;
}
h1{
	font-family: 'Notable', sans-serif;
	font:<link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
CSS rules to specify families;
	size: 40px;
	color: black;
	text-align: center;	
}

h2{font-family: Roboto;
color : black;
}

header{
	height : 90px;
}

footer{
	padding : 30px;
	border-top: 2px;
	color : white;
	height: 70px;
	text-align: center;
	background: black;
}
nav li{
	margin : 0px;
	padding: 0px;
	float:left;
	list-style-type: none;
}
nav ul{
	margin : 0px;
	padding : 0px;
	float:center;
	}

nav{
	width: 100%;
	background: rgb(253,182,56);
}
nav a{
	padding : 30px 40px;
	display: inline-block;
	text-decoration: none;
	color: black;
  	font-size: 15px;
}

h3{ font-family: Roboto;
size: 12px;
color: black; 
}

p{font-family: Roboto;
	color:	#D4AF37;
}

.menu{
	display: table;
	margin:0 auto;
	font-weight: bold;
}

#bandeannonce{
	height: 500px;
}

.container{
	margin: 0px 10%;
}

.left{
	float:left;
	width: 50%;
}

.right{
	float:right;
	text-align: center;
	width: 50%;
}

.feature{
	margin: 15px;
  padding: 15px 0;
  text-align: center;
  width: 200px;
  overflow: hidden;
}

.content{
	display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}
